.wrapper{
    display: flex;
    flex-direction: column;
    width: 26%;
    background-color: #222327;
}

.item {
    background-color: #222327;
    padding-left: 10px;
    margin: 10px 1vw;
    padding-bottom: 15px;
    border-bottom: 1px solid #464646;
}

.itemFound {
    border: 2px solid #905001;
    background-color: #222327;
    border-radius: 3px;
    padding-left: 10px;
    margin: 10px 1vw;
    padding-bottom: 15px;
}

.selectedFound{
    border: 2px solid #905001;
    padding-left: 10px;
    background-color: #464646;
    margin: 10px 1vw;
    padding-bottom: 15px;
    border-radius: 5px;
}

.title{
    font-family: "SFBold";
    margin-top: 10px;
}

.title:hover {
    cursor: pointer;
}

.text:hover {
    cursor: default;
}

.selected {
    padding-left: 10px;
    background-color: #464646;
    margin: 10px 1vw;
    padding-bottom: 15px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.time {
    margin-right: 7px;
}

.selected {
    background-color: #464646;
}

.selected div{
    background-color: #464646;
}
