
@font-face {
    font-family: SFRegular;
    src: url("../fonts/SFProText-Regular.ttf") ;
    font-style: normal;
    font-weight: normal;
}
@font-face{
    font-family: "SFBold";
    src: url("../fonts/SFProText-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
:root {
    --my-size: 20px;
    --my-align: center
}
p{
    font-size: var(--my-size);
    text-align: var(--my-align);
}

#root{
    color: #dadada;
    font-family: "SFRegular";
}
