.wrapper{
    background-color: #1e1e1e;
    width: 100%;
    height: 100vh;
    border-left: 2px solid black;
}
.content{
    padding-left: 20px;
    background-color: #1e1e1e;
    width: 85%;
}
.title{
    margin-top: 20px;
    background-color: #1e1e1e;
    font-family: "SFBold";
}

textarea {
    font-family: inherit;
    font-size: inherit;
    resize: none;
    color: #dadada;
    display: flex;
    border: none;
    width: 100%;
    overflow: hidden;
    max-height: 800px;
}
textarea:focus {
    border: none;
    outline: none;
}

.text{
    background-color: #1e1e1e;
}